<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="public/css/index0.css">
</head>
<body>


    <!-- <h1>HELLO HTML PAGE</h1> -->
    <!-- Here form action will be taken to /results route by GET request-->
    <!-- And there the data will be saved and follows the remaing commands which is there in the 
    function of get in the /results route -->
    <!-- <form action="/result" method="GET">
        <label for=""></label>
        <input type="text" name="username" placeholder="">
        <input type="password" name="password" placeholder="">
        <button>Submit</button>
    </form> -->


    <!-- This header and footer will be applied in all the html files where the belowline is included -->
    <%- include("./partials/header")%>
    <h1>Movies</h1>
    <div class="jumbotron">
        <h1 class="display-4">Movie App</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <%- include("./partials/footer")%>
</body>
</html>